diffrax==0.6.2 ; python_version >= "3.12" and python_version < "4.0"
equinox==0.11.12 ; python_version >= "3.12" and python_version < "4.0"
jax==0.5.3 ; python_version >= "3.12" and python_version < "4.0"
jaxlib==0.5.3 ; python_version >= "3.12" and python_version < "4.0"
jaxtyping==0.2.38 ; python_version >= "3.12" and python_version < "4.0"
lineax==0.0.7 ; python_version >= "3.12" and python_version < "4.0"
ml-dtypes==0.5.1 ; python_version >= "3.12" and python_version < "4.0"
networkx==3.4.2 ; python_version >= "3.12" and python_version < "4.0"
numpy==2.2.4 ; python_version >= "3.12" and python_version < "4.0"
opt-einsum==3.4.0 ; python_version >= "3.12" and python_version < "4.0"
optimistix==0.0.10 ; python_version >= "3.12" and python_version < "4.0"
pandas==2.2.3 ; python_version >= "3.12" and python_version < "4.0"
pyarrow==19.0.1 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
pytz==2025.1 ; python_version >= "3.12" and python_version < "4.0"
scipy==1.15.2 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
typeguard==2.13.3 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.1 ; python_version >= "3.12" and python_version < "4.0"
wadler-lindig==0.1.4 ; python_version >= "3.12" and python_version < "4.0"
